<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Visualization</title>
</head>
<body>
    <h1>Stock Price Graph for GOOGL</h1>
    
    <!-- Plotly graph embedded here -->
    <div>{{ stock_graph|safe }}</div>

    <form action="/predict" method="POST">
        <button type="submit">Predict Stock Price</button>
    </form>
    <button onclick="location.href='/reset'">Back to Start</button>
</body>
</html>